<h3>Here's a list of all your kittens:</h3>

<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <h5><%= kitten.name %></h5>
      <p>Age: <%= kitten.age %></p>
      <p>Cuteness: <%= kitten.cuteness %></p>
      <p>Softness: <%= kitten.softness %></p>
    </li>
    <br>
    <%= link_to "Delete this kitten? *meep*", url: kitten_url(kitten.id), method: :delete %>
  <% end %>
</ul>